<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HOLA!</h1>
    <p class="lead">Esta aplicacion web la hice como practica y prueba de desarrollo, para fortalecer mis conocimientos y aprender más sobre nodeJS, EXPRESS y MySQL</p>
    <p class="lead">This web application was made for practicing and web development test, the objective was strengthen my knowledge and to learn more about nodeJS, EXPRESS and MySQL</p>
  </div>
</div>